.menu {
  position: relative;
  display: inline-block;
}
.textWrapper{
  display: flex;
  flex-direction: row;
}
.menu:hover{
  cursor: pointer;
}

.sideMenuWrapper {
  position: absolute;
  display: none;
  background-color: inherit;
  /*overflow: hidden;*/
  top: 0;
  right: 0;
  padding-top: 2em;
  border-radius: 3px;
  border-width: 0;
  border-style: none;
  height: 100%;
  width: 100%
}
.menu:hover .sideMenuWrapper{
  display: flex;
  flex-direction: row-reverse;
}

.sideMenu {
  cursor: initial;
  top: -200px;
  display: none;
  position: relative;
  background-color: white;
  border-radius: 3px;
  border-color: rgb(0,0,0);
  border-color: rgba(0,0,0,1);
  border-width: 1px;
  border-style: solid;
}
.menu:hover .sideMenu{
  display: table;
  animation: slide 0.5s forwards;
}

@keyframes slide {
  100% { top: 0; }
}

.text {
  padding-right: 0.6em
}
.icon {
  font-family: FontAwesome;
  font-awesome: bars;
}
.list{
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0.5em;
}
.link {
  cursor: pointer;
}
