.button {
  margin: 0.5em;
  display: flex;
  align-items: center;
}

.menuItem {
  margin-left: 1em;
}

.menu {
  position: relative;
  display: flex;
}

.menu:hover {
  cursor: pointer;
}

.textWrapper {
  display: flex;
  align-self: center;
  flex-direction: row;
}

.menu:hover .sideMenuWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.sideMenuWrapper {
  position: absolute;
  display: none;
  background-color: inherit;
  top: 0;
  right: 0;
  padding-top: 3em;
  border-radius: 3px;
  border-width: 0;
  border-style: none;
  height: 100%;
  width: 100%;
}

.sideMenu {
  cursor: initial;
  top: -200px;
  display: none;
  position: relative;
  background-color: white;
  border-radius: 3px;
  border-color: rgb(0, 0, 0);
  border-color: rgba(0, 0, 0, 1);
  border-width: 1px;
  border-style: solid;
}

.menu:hover .sideMenu {
  display: table;
  animation: slide 0.5s forwards;
}

@keyframes slide {
  100% { top: 0; }
}

.hr {
  margin: 0;
}

.text {
  margin-right: 0.6em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0.5em;
}

.link {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  cursor: pointer;
}
