.item {
  position: relative;
  display: flex;
  flex-direction: row;
  border-top-color: rgb(0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-width: 1px;
  border-top-style: solid;
  border-left-color: rgb(0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0.1);
  border-left-width: 1px;
  border-left-style: solid;
  border-right-color: rgb(0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0.1);
  border-right-width: 1px;
  border-right-style: solid;
  overflow: hidden;
}

.item:first-of-type {
  border-top: none;
}

.link {
  text-decoration: none;
  margin: 0.6em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.link:hover {
  text-decoration: none;
}

.subTitle {
  position: relative;
  height: 4.5em;
  overflow: hidden;
}

.subTitleText {
  margin-top: 0.9rem;
  font-size: 0.85rem;
}

.fadeOut {
  background: linear-gradient(rgba(0, 0, 0, 0), white);
  bottom: 0;
  height: 1.5em;
  width: 100%;
  position: absolute;
}

.address {
  text-transform: capitalize;
}

.actions {
  margin-top: 0.8rem;

  /* display: none; */
}

.actionButtons {
  border-color: lightgrey;
  border-radius: 0.4em;
  border-width: 1px;
  border-style: solid;
  margin: 0.4em;
}
