.searchBar {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
}

.searchInput {
  border: none;
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.searchInput:focus {
  outline: none;
}
