.form {
  margin-top: 2em;
  width: 40em;
  max-width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.buttonArea {
  padding-top: 3em;
  padding-bottom: 1em;
  align-self: center;
}
