.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  width: 40em;
  max-width: 100%;
  text-align: center;
}

.form {
  margin-top: 2em;
  width: 40em;
  max-width: 100%;
  text-align: center;
}
