.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}

.formBase {
  padding: 2.5em;
}

.text {
  width: 46em;
  max-width: 100%;
  text-align: center;
}
